/*
  Author : Lucas Natale
  v1.0 | 30-12-2018
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
input:focus, select:focus {
	outline:none;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}
ol, ul {
	list-style: none;
}
li {
	list-style-type: none;
}
a {
  display: block;
  color: initial;
}
.header-link li a:hover{
	text-decoration: none;
	color: #4e876a;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	border-radius: 0;
	background: none;
}
select::-ms-expand {
	display: none;
}
input[type="submit"] {
	width: 100%;
}
input{
	padding: 5px;
	border: 1px solid #999999;
	font-size: 12px;
	width: calc(100% - 12px);
}
/*
FORMULAIRE
*/
.foglight-form select {
	border: 0;
	border-bottom: 1px solid #4e876a;
	margin-bottom: 15px;
}
.foglight-form h2 {
	text-align: center;
	font-weight: unset;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px 0px;
	color: #4e876a;
	margin-bottom: 20px;
	position: relative;
}
.foglight-form h2:before{
	width: 50px;
	height: 5px;
	position: absolute;
	content: '';
	background: #4e876a;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.foglight-form input {
	border: 0;
	border-bottom: 1px solid #4e876a;
	margin-bottom: 15px;
}
.foglight-form.log {
	width: 250px;
	margin: 0 auto;
	padding: 50px;
	box-shadow: 0px 0px 3px rgba(000,000,000,0.2);
	margin-top: 50px;
}
/*
BOUTONS / SELECT / LABEL
*/
input[type="submit"], button, .btn-std{
	cursor: pointer;
	border: 1px solid #4e876a;
	padding: 10px;
	background: #4e876a;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	margin-top: 20px;
	transition: 0.2s;
	font-size: 12px;
	text-decoration: none;
}
input[type="submit"]:hover, button:hover, .btn-std:hover{
	background: #ffffff;
	color: #4e876a;
}
/*
CHARTS
*/
.content-site h1 {
	padding-top: 30px;
	font-size: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	color: #4e876a;
	padding-bottom: 10px;
}
.slider-home {
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.articles h2, .events h2 {
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
	border-bottom: 1px solid #4e876a;
}
.articles p {
	height: 50px;
	overflow: hidden;
	font-size: 12px;
}
.article h2 {
	position: relative;
}
.admin-panel .logout {
	position: absolute;
	right: 0;
}